$color-primary: #b2dd4c; // Light Green
$color-secondary: #f5f5f5; // Light Gray
$green-gradient: linear-gradient(45deg, $color-primary, lighten($color-primary, 12%));

$graydark: #858585;
$graylight: #e7e7e7;
$white: #FFF;

$sectionWidth: 1200px; 