@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(images/bg-hero-desktop.svg);
    font-family: 'Open Sans', sans-serif;;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

img{
    max-width: 100%;
}
/*Top page */
.header{
    background: #eefaff99;
    padding: 20px 80px;
}

header a{
    float: right;
}
header .logo{
    width: 150px;
}

.intro{
    display: flex;
    margin-top: 60px;
}
.intro-body{
    flex: 1;
}
.intro-body h1{
    width: 400px;
}
.intro-body p{
    width: 500px;
}


.intro-pic{
    flex: 1;
}
.intro-pic img{
    float: right;
}
/* Content sections*/
.content{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px ;
    
}
.content article{
    margin: 30px 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
article .article-body{
    margin: 100px  
}

/* buttons */
.btn{
    text-decoration: none;
    border: 1px solid rgb(73, 57, 57);
    border-radius: 50px;
    text-align: center;
    padding: 8px 50px;
    background-color: white;
    color: #000;

}
.btn-getstarted{
    background-color: hsl(322, 100%, 66%);
    color: white;
}


/* footer */
footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}
.row{
    width: calc(100% - 200px);
    display: flex;
    padding: 150px 100px 50px 100px;
    border: 0;
}
.col {
    flex: 1;
}

ul{
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

